{% extends 'base.html.twig' %}

{% block body %}

    <div class="map">
{% for tile in map.mapTiles %}
        <div id="t{{ tile.tileId }}-outer" class="tile-outer tile-clear"
             style="left: {{ tile.coordinates|xpos }}px; top: {{ tile.coordinates|ypos }}px;">

            <div id="{{ tile.tileId }}-inner" class="tile-inner" onClick="alert('{{ tile.tileId }} - {{ tile.coordinates }}')">
                <a name="{{ tile.tileId }}">{{ tile.tileId }}</a><br />
                {{ tile.coordinates }}
            </div>
        </div>
{% endfor %}
    </div>

{% endblock %}
